.cover_1{
	#headerWrap{
    z-index:999900;
		width:100vw;
		height:98vh;
		background-image: linear-gradient(to right, #13D6D2 , #FEC909);
		margin:auto;

		#hero{
           width:90%;
           height: 84vh;
           position: absolute;
           bottom: 0;
           left: 0;
           right: 0;
           margin:auto;
           background-color: white;
           box-shadow: 0 0 30px #6E6F6F;
           display: flex;
           align-items: center;

           h2{
           	margin: auto;
           	font-family: $font-family-sans-serif;
           }

		}
	}

	.triangle{
			position: absolute;
			z-index: 90;
			top: 40.5vh;
      opacity: 0.95;
      
		}

    .triangle.left{
    	left: 0;
      
    }
    .triangle.right{
    	right: 0;

    }

    
}



.list-unstyled{
  margin-left:20px;
}

#imap{
  box-shadow: -3px 3px 15px #888888;
}

.title{
  font-size: 20px;
  color: $dark;
  margin-bottom: -3px;
}

