#hero{
	background: url(../img/patterns.png); 

}

.portfolio-item{
	height: 215px;
	overflow:hidden;

	.portfolio-image{
		padding-top:75%;
		background-size: cover;
		background-position: center;
		box-shadow: 3px 3px 5px 2px gray;
	}

}
.projectname{
	font-size: 14px;
	padding-top: 10px;
}

.tab-pane.fade.show {
 
    z-index: 10;
}