// #hero{
// 	background: url(../img/patterns.png); 

// }

.portfolio-hover{
	margin-top: 40px;
}

.portfolio-item{
	height: 250px;
	overflow:hidden;

	.portfolio-image{
		padding-top:75%;
		background-size: cover;
		background-position: center;
		box-shadow: 3px 3px 5px 2px gray;
	}

}
.projectname{
	font-size: 14px;
	padding-top: 10px;
}

.tab-pane.fade.show {
    z-index: 10;
}


.icon{
	background:transparent;
	img{
	border-radius: 50%;
    }
}
