.main-wrap{
	background-image: url(../background/0.png);
}
.section2{
	.container{
		width:100%;
		height:70vh;
		margin:auto;
		margin-top:5%;
		background-color:white;
		box-shadow:8px 8px 20px 5px;
		.nav{
			margin-top:2em;
			.site-tab-nav{
				border: 1px red solid;
				position:absolute;
				list-style-type:none;
			}
		}
		.profile{
			.designerName{
				h1:first-letter{
					color:$orange;
					font-size:2.5em;
					padding-rignt:5px;
					text-transform:uppercase;
				}
			}
			.photo{
				border:1px $orange solid;
			}
			.introduction{

			}
		}
		.tab-content{
			position:relative;
			.tab-pane{
				position:absolute;
				top:0;
				width:100%;
			}
		}
	}
}
@media only screen and (min-width:50em){
	.section2{
		.container{
			.profile{
				.designerName{
					left:-10%;
					margin-top:30%;
				}
				.photo{
					position:absolute;
					top:20%;
					left:33%;
					box-shadow:8px 8px 20px 5px;
				}
				.introduction{
					position:absolute;
					top:45%;
					right:-15%;
				}
			}
			
		}
	}
}