.main-wrap{
	background-image: url(../background/0.png);
}

.section2{
	.container{
		width:100%;
		height:70vh;
		margin:auto;
		margin-top:5%;
		background-color:white;
		box-shadow:8px 8px 20px 5px;
		.nav{
			.site-tab-nav{
				border: 1px red solid;
				position:absolute;
				list-style-type:none;
			}
		}
		// .profile{
			
		// }
		// .works{
		// 	position:absolute;
		// 	top:-200;
		// 	display:block;
		// 	// border:1px red solid;
		// 	width:100%;
		// 	background-color:rgba(0,0,0,0.2);
		// }
		// .skills{
		// 	position:absolute;
		// 	top:-200;
		// 	display:block;
		// 	border:1px red solid;
		// 	width:100px;
		//     height:200px;
		// 	background-color:rgba(0,0,0,0.5);
		// }

		.tab-content{
			border:1px red solid;
			position:relative;

			.tab-pane{
				position:absolute;
				top:0;
				border:1px green solid;
			}
		}
	}

}
