#mainNav {
  // background-color: $gray-900;
  .navbar-toggler {
    z-index: 999;
    font-size: 30px;
    right: 0;
    // padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    // @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    // @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        // color: black;
        // @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }

      .designerList{
        color:white;
        position: absolute;
        top: 60px;
        width: 40%;
        left: 80px;
        list-style-type:none;
        display: none;
      }

      .designerList>li>a{
        color:white;
      }

      &:hover .designerList{
        display:block;
      }

    }
  }
}

.site-header{
  padding-bottom:24px !important;
  padding-top: 30px !important;
  background-color: rgba(255,255,255,0.4);
}

@media(min-width:992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}

.site-footer{
  background-image: linear-gradient(white, #D9D9D9);
  padding:80px 0 !important;
  .row{
    width: 90%;
    margin: auto;
    .left,.middle{
      width: 300px;
      margin: auto;
    }
      .right{
      width: 350px;
      margin: auto;
    }
  }
}

#imap{
   height: 350px;
   z-index: 200;
}